<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utama</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/Laporan.css">
</head>
<body>

    <div class="navbar">
  
        <img src="/images/LCIMS.png" alt="logo" width="100">
        
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Daftar Keluar"/>
            </form>
        
        <a href="/profile">Profil Anda</a>
        <a href="/masukkanData">Masukkan Data</a>
        <a href="/petaKarbon">Peta Karbon</a>
        <a href="/Admin/laporan">Hasilkan Laporan</a>
        <a href="/utama">Laman Utama</a>
    </div>

    <div class="menu">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90251.34839580668!2d103.61376090675637!3d1.4253617869019526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da0c6d922590e1%3A0x1fa40aaceb8992d2!2sIskandar%20Puteri%2C%20Johor!5e0!3m2!1sen!2smy!4v1704267118758!5m2!1sen!2smy"
            width="1515" height="640" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        <div class="option">
            <form action="/Admin/hasilkanLaporan" method="get">
                <div class="pilihkawasan">
                    <h2>Pilih kawasan :</h2>
                    <label for="area"></label>
                    <select id="area" name="area" required>
                        <option value="SKUDAI">SKUDAI</option>
                        <option value="LIMA KEDAI">LIMA KEDAI</option>
                        <option value="GELANG PATAH">GELANG PATAH</option>
                        <option value="KANGKAR PULAI">KANGKAR PULAI</option>
                        <option value="ISKANDAR PUTERI">ISKANDAR PUTERI</option>
                        <option value="ULU CHOH">ULU CHOH</option>
                    </select>
                </div>

                <div class="dikemaskini">
                    <h2>Dikemaskini :</h2>
                    <div class="hari">
                        <h3><b><span th:text="${days}"></span></b> hari</h3>
                    </div>
                    <div class="jam">
                        <h3><b><span th:text="${hours}"></span></b> jam</h3>
                    </div>
                    <div class="minit">
                        <h3><b><span th:text="${minutes}"></span></b> minit</h3>
                    </div>
                    <div class="saat">
                        <h3><b><span th:text="${seconds}"></span></b> saat</h3>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Hasilkan Laporan">
                </div>
            </form>
        </div>
    </div>
</body>
</html>