.content {
    top: 0px;
    height: 640px;
    background-color: #73ac66;
}
.content-left {
    margin-right: 100px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content-left-top {
    display: flex;
    justify-content: center;
}
.kawasan {
    text-align: center;
    margin: 5px;
    width: 30%;
    background-color: #d4decf;
}
.population {
    text-align: center;
    margin-bottom: 5px;
    width: 70%;
}
.content-left-middle {
    margin: 5px;
}
.content-left-bottom {
    margin: 5px;
    text-align: center;
}
.content-right {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.time {
    margin-top: 50px;
    margin-bottom: 5px;
    background-color: #d4decf;
}
.allData {
    background-color: #d4decf;
}
b {
    font-size: 30px;
}