body {


    text-align: center;
    background: url("/images/bg1.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 450px;
    color: white;

}

h1 {
    text-align: center;
}

.section {
    align-items: center;
}

.content {
    align-items: center;
    display: inline-block;
    position: fixed;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    background: rgba(255, 255, 255, 0.699);
    backdrop-filter: blur(15px);
    z-index: 1000;
    margin: 0 auto;
    border-radius: 15px;
}

.timer {
    margin-left: 150px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timer p {
    margin: 0;
    line-height: 1.2;
    font-size: 1.5rem;
}

.hari,
.jam,
.minit,
.saat {
    align-items: center;
    width: 250px;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #5cb85c;
    color: rgb(54, 88, 33);
    border-radius: 25px;
}
.inputData {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.inputData p {

    color: rgb(54, 88, 33);
    font-size: 1.5rem;

}

/* .inputData a{
   
    background-color: #43df65;
    padding: 15px;
    width: 200px;
} */


h1 {
    font-size: 2rem;
    color: #333;
}

.utiliti,
.elektrik,
.air,
.sisa,
.sampah,
.minyak {


    background: #5cb85c;
    padding: 15px;
    width: 15rem;
    border-radius: 15px;
}


.utiliti:hover,
.elektrik:hover,
.air:hover,
.sisa:hover,
.sampah:hover,
.minyak:hover {
    
    background-color: #43df65;
}
.simbol img {
    width: 9rem;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain the aspect ratio */
}

a {
    text-decoration: none;
}

b {
    font-size: 30px;
}


.popup {
    width: 350px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: #50c878;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    text-align: end;

}