<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Masukkan Data</title>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <div class="navbar">
        <a href="/utama">Laman Utama</a>
        <a href="/petaKarbon">Peta Karbon</a>
        <a href="/masukkanData">Masukkan Data</a>
        <a href="/profile">Profil</a>
    </div>
    <div class="section">
        <h1>Masukkan Data</h1>
        <p>This is the Masukkan Data page content.</p>
    </div>
</body>
</html>
