<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bil Air</title>

    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="Masukkandata.css">
</head>
<body>
    <div class="navbar">
        <a href="/utama">Laman Utama</a>
        <a href="/petaKarbon">Peta Karbon</a>
        <a href="/masukkanData">Masukkan Data</a>
        <a href="/profile">Profil</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="section">
        <div class="content-header">
            <h1>Muat naik bill air. . .</h1>
        </div>
        <div class="content-body">
            <div class="content-body-sejarah">
                <h1>Sejarah</h1>
            
                <br/>
            
                <th:block th:each="date, index : ${createtime}" th:unless="${index.index >= 5}">
                    <h2 th:text="${date}"></h2>
                    <!-- Access the corresponding pricePerDate value using the index -->
                    <p>RM </p>
                    <p th:text="${pricePerDate[__${index.index}__]}"></p>
                </th:block>
            </div>
            
            
            <div class = "content-body-muatnaik">

                <form action="/masukkanData/muatNaikBilAir" method="get">

                    <label for="billID">Bil Id :</label>
                    <input type="text" id="billID" name="billID">

                    <label for="tarikhBill">Tarikh bill :</label>
                    <input type="date" id="tarikhBill" name="tarikhBill">

                    <label for="billAmount">Amaun bill :</label>
                    <input type="number" step="any" id="billAmount" name="billAmount">

                    <br>
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>
    </div>
</body>
</html>