<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bil Elektrik</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/DataPage.css">
    <script src="/js/MasukkanData.js"></script>
</head>

<body>
    <div class="navbar">
        <img src="/images/LCIMS.png" alt="logo" width="100">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Daftar Keluar" />
        </form>
        <a href="/profile">Profil Anda</a>
        <a href="/masukkanData">Masukkan Data</a>
        <a href="/petaKarbon">Peta Karbon</a>
        <a href="/utama">Laman Utama</a>
    </div>
    <div class="content-header">
        <div class="simbol">
            <img src="/images/electric.png">
        </div>
        <h1>Memuat naik bill Elektrik. . .</h1>
    </div>

    <div class="section">
        <div class="content-body">
            <div class="content-body-sejarah">
                <h1>Sejarah anda</h1>
                    <th:block th:each="date, index : ${createtime}" th:unless="${index.index >= 5}">
                        <div class="sejarah">
                            <h2 th:text="${date}"></h2>
                            <!-- Access the corresponding pricePerDate value using the index -->
                            <p>Jumlah Harga Penggunaan Elektrik</p>
                            <p th:text="'RM ' + ${pricePerDate[__${index.index}__]}"></p>
                        </div>
                    </th:block>
            </div>
            <div class="content-body-muatnaik">
                <div class="box">
                    <div class="simbol">
                        <a href="#" class="button" onclick="openPopup()">
                            <img src="/images/insert.png" alt="Insert">
                        </a>
                    </div>
                    <h2>Muat Naik Bill di sini</h2>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <form action="/masukkanData/muatNaikBilElektrik" method="get">

                    <label for="billID">Bil Id :</label>
                    <input type="text" id="billID" name="billID">
                    <br>
                    <br>
                    <label for="ElektricTotal">Jumlah penggunaan elektrik :</label>
                    <input type="number" id="ElektricTotal" name="ElektricTotal">
                    <br>
                    <br>
                    <label for="tarikhBill">Tarikh bill :</label>
                    <input type="date" id="tarikhBill" name="tarikhBill">
                    <br>
                    <br>
                    <label for="billAmount">Amaun bill :</label>
                    <input type="number" step="any" id="billAmount" name="billAmount">
                    <br>
                    <br>
                    <br>
                    <input type="submit" onclick="closePopup()" value="Upload">
                </form>
            </div>
        </div>
</body>

</html>