<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pilih Utiliti</title>
 

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/Masukkandata.css">
</head>

<body>
    <div class="navbar">
  
        <img src="/images/LCIMS.png" alt="logo" width="100">
        
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Daftar Keluar"/>
            </form>
        
        <a href="/profile">Profil Anda</a>
        <a href="/masukkanData">Masukkan Data</a>
        <a href="/petaKarbon">Peta Karbon</a>
        <a href="/Admin/laporan">Hasilkan Laporan</a>
        <a href="/Admin/dashboard">Laman Utama</a>
    </div>
    <div class="container">
        <div class="content">
            <h1>Pilih jenis Utiliti :</h1>
            <div class="inputData">
                <a href="/masukkanData/air">
                    <div class="air">
                        <p><b>Bil Air</b></p>
                        <div class="simbol">
                            <img src="/images/water.png">
                        </div>
                    </div>
                </a>
                <a href="/masukkanData/elektrik">
                    <div class="elektrik">
                        <p><b>Bil Elektrik</b></p>
                        <div class="simbol">
                            <img src="/images/electric.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>