<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bil Air</title>

    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="Masukkandata.css">
</head>
<body>
    <div class="navbar">
        <a href="/utama">Laman Utama</a>
        <a href="/petaKarbon">Peta Karbon</a>
        <a href="/masukkanData">Masukkan Data</a>
        <a href="/profile">Profil</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="section">
        <div class="content-header">
            <h>Data Save Successfull</h>
            
            </br>
            <p>Redirecting to Home page . . .</p>

            <script>
                setTimeout(function ()
                {
                    window.location.replace("masukkanData/pilihUtiliti");
                }, 4000); // Redirect after 4 seconds
            </script>    
        </div>
    </div>
</body>
</html>